.formHeader {
    margin-bottom: 48px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 16px;
}

.formHeader h1 {
    font-size: 24px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 4px;
}

.formHeader p {
    font-size: 14px;
    color: var(--color-text-secondary);
}