.formGroup {
    margin-bottom: 24px;
}

.formGroup label {
    display: block;
    font-weight: 600;
    margin-bottom: 4px;
}

.errorText {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: var(--color-error);
}

.error {
    border-color: var(--color-error);
}