.detailsMeta {
    display: flex;
    gap: 24px;
    margin-top: 64px;
    padding-top: 16px;
    border-top: 1px solid var(--color-border);
}

.detailsMeta p {
    font-size: 12px;
    color: var(--color-text-muted);
}