.detailsHeader {
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 2px solid #000000;
}

.detailsNickname {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 4px;
    color: #000000;
}

.detailsRealName {
    font-size: 16px;
    color: var(--color-text-secondary);
}