.superheroCard {
    background: #ffffff;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    overflow: hidden;
}

.superheroCard:hover {
    border-color: var(--color-border-hover);
}

.cardContent {
    padding: 16px;
}

.cardTitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.cardTitle a {
    color: #000000;
}